# =========================================
# Python / Django
# =========================================
__pycache__/
*.py[cod]
*$py.class

# =========================================
# Virtual Environments
# =========================================
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# =========================================
# Environment & Database
# =========================================
.env
.env.*
db.sqlite3

# =========================================
# Static & Media Files
# =========================================
static/
staticfiles/
media/
vol/

# =========================================
# Git & IDEs
# =========================================
.git/
.gitignore
.vscode/
.idea/

# =========================================
# OS Files
# =========================================
.DS_Store
Thumbs.db

# =========================================
# Docker / Build
# =========================================
Dockerfile
docker-compose*.yml
